.main-container-crear{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: auto;
}

.interests-chips {
    margin-right: .5rem;
}

.colabs {
    margin-bottom: 3rem;
}
.colabs h2{
    margin-bottom: .5rem;
}