.login-page{
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* estilos del contenedor de la imagen de inicio de sesión */
.login-image-container{
    background: url('../Resources/Images/UAO.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
