.username{
    position: relative;
    top: -1px;
    display: inline-block;
  }

.userpict {
    cursor: pointer;
    border-radius: 50%;
    vertical-align: sub;
    width:35px;
    height:35px;
  }
